<!doctype html>
<html>

<head>
  <title>Card Game</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="container">
    <div class="page-header text-center">
      <h1><span class="fa fa-heart"></span>Play War Game</h1>
      <button type="submit" name="button" id="flip">Draw</button>
      <button type="button" name="button" id="reset">Play Again</button>
      <a href="/profile" class="btn btn-default"><span class="fa fa-user"></span>Profile</a>
      <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Logout</a>
    </div>
    <div class="page-header text-center">
      <strong>Current Round: </strong><span id="rounds"></span>
      <h3 id="msg1"></h3>
      <h3 id="msg3"></h3>
      <h3 id="msg2"></h3>
    </div>
    <div id="board">
      <div class="col-sm-6">
        <h3>Player One</h3>
        <div class="scoresLeft"><strong>Deck: </strong><span id="p1D"></span></div>
        <div class="scoresRight"><strong>P1 Scores: </strong><span id="p1Wins"></span></div>
        <div id="player1">
        </div>
      </div>
      <div class="col-sm-6">
        <h3>Robot</h3>
        <div class="scoresLeft"><strong>Deck: </strong><span id="p2D"></span></div>
        <div class="scoresRight"><strong>P2 Scores: </strong><span id="p2Wins"></span></div>
        <div id="player2">
        </div>
      </div>
      <div class="col-sm-6">
        <div id="card">
          <div id="top"><span class="p1ValT sp">K</span>
            <span class="p1SuT sp">◆</span>
          </div>
          <h1 class="p1SuM">◆</h1>
          <div id="bot"><span class="p1ValB sp">K</span><span class="p1SuB sp">◆</span></div>
        </div>
      </div>
      <div class="col-sm-6">
        <div id="card">
          <div id="top"><span class="p2ValT sp">K</span>
            <span class="p2SuT sp">◆</span>
          </div>
          <h1 class="p2SuM">◆</h1>
          <div id="bot"><span class="p2ValB sp">K</span><span class="p2SuB sp">◆</span></div>
        </div>
      </div>
    </div>

    <script src="main.js"></script>

</body>

</html>
